#tit{
text-align: center;
}
a.titletxt{             /*Step 1確認購物清單 Step 3 購買成功*/
text-decoration: none;
color: black;
font-size: 120%;
padding: 1% 1% 1% 1%;
margin: 1% 5% 1% 4%;
}
.titletxt:hover{       /*Step 1確認購物清單 Step 3 購買成功特效*/
font-weight: bold;
}
a.titlestep2{  
background-color:	#FFE4E1;
border-radius: 15%;           /*Step 2 填寫收件資料*/
text-decoration: none;
color: black;
font-size: 150%;
padding: 1% 1% 1% 1%;
margin: 1% 5% 1% 4%;
}
.titlestep2:hover{ 
font-weight: bolder;
}
.BOX_A{                    /*確認購買表單*/
width:40%;
margin:3% 1% 1% 1%;
position: absolute;
top:35%;
left:30%;
}
.tit1{                    /*確認購買字體*/
font-size:200%;
}
.txt2{                    /*表單內文字體*/
font-size:160%;
padding: 5%;
}
.selpay{                   /*付款選單*/
font-family: "微軟正黑體";
font-weight: bold;
font-size:100%;
padding: 2%;
margin: 1%;
}
.buttontxt4{                /*取消訂單和確定*/
font-family: "微軟正黑體";
font-weight: bold;
font-size:90%;
padding: 2%;
margin: 1% 0% 1% 0%;
background-color: #FFE4E1;
padding: 0.5%;
border-radius: 20%;
}
.buttontxt4:hover{
color: #6B5152;
font-size: 100%;
font-weight: bold;
}
.pic1{                      /*個人照1*/
margin-left: 2%;
margin-top: 6%;
}
.pic2{                     /*個人照2*/
margin-left: 41%;
margin-top: 6%;
}
